<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Exam 2</title>
</head>
Selamat Datang <br>
<body>
    1. Contract <br>
    2. Customer Comparison <br>
    3. Dependents <br>
    4. Device Protection <br>
    5. Gender <br>
    6. Integer Values <br>
    7. Internet Service <br>
    8. Multiple Lines <br>
    9. Numerical (Correlation numerical data) <br>
    10. Online Backup <br>
    11. Online Security <br>
    12. Paperless Billing <br>
    13. Partner <br>
    14. Payment Method <br>
    15. Phone Service <br>
    16. Senior Citizen <br>
    17. Streaming Movies <br>
    18. Streaming TV <br>
    19. Tech Support <br>

    * Gunakan .png diakhir route
    ** Gunakan '/ images' pada route untuk mengakses grafik-grafik
    *** Gunakan '/kesimpulan' untuk melihat saran dan kesimpulan

</body>
</html>