<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kesimpulan</title>
</head>
<body>
## Kesimpulan : <br>
<br>    
Faktor Churn dipengaruhi oleh : <br>
1. Phone Service - Penyertaan servis telepon oleh provider<br>
2. Contract with month to month method<br>
<br>
Faktor untuk tidak berpindah (NOT Churn) dipengaruhi oleh : <br>
1. Senior Citizen - Orang lanjut usia yang sudah setia dengan providernya<br>
2. Dependency - Kelompok customer yang memiliki tunjangan lain selain dirinya (anak, lanjut usia etc.)<br>
<br>
Tidak adanya korelasi gender kepada faktor Churn<br>

<br>
## Saran : <br>

1. Dalam memasarkan provider, perlu diiringi dengan adanya pelayanan servis telepon.<br>
2. Gunakan sistem kontrak per bulan karena metode kontrak inilah yang paling disukai customer.<br>
3. Pemasaran sebaiknya dilakukan kepada customer yang memliki anggota keluarga yang besar (adanya anak / kakek atau nenek) di rumahnya.<br>
4. Pusatkan pemasaran untuk golongan customer usia muda, karena golongan usia tua (biasanya usia 60 ke atas) cenderung sudah setia dengan provider yang mereka punya<br>
</body>
</html>